.cities {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  img {
    height: 100%;
    transition: all 0.5s ease;
    vertical-align: middle;
    width: 100%;
  }
}

.wrapper2 {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 300px;
  &::after {
    background-color: rgba(146, 173, 200, 0.6);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    width: 100%;
  }
  &:hover::after, &:focus::after {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
  }
  &:hover, &:focus {
    img {
      transform: scale(1.2);
    }
    span {
      opacity: 1;
      visibility: visible;
    }
  }
}

span {
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  top: 40%;
  right: 22%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 1;
}

@media screen and (max-width: 420px) {
  .wrapper2 {
    height: 170px;
    width: 260px;
  }

  span {
    right: 16%;
  }
}
