.dogs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  img {
    border: 8px solid #4f6dc9;
    height: 200px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    width: 300px;
    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
}

.dog1:hover {
  transform: scale(1.3) translate(-40px);
}

.dog2:hover {
  transform: scale(1.3);
}

.dog3:hover {
  transform: scale(1.3) translate(40px);
}

@media screen and (max-width: 420px) {
  .dogs img {
    height: 170px;
    width: 260px;
  }
  .dog1:hover, .dog2:hover, .dog3:hover {
    transform: scale(1.1);
  }
}
