.landscapes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.landscape {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  position: relative;
  width: 300px;
}

.landscape1 {
  background: url('../img/landscape1.jpg');
  background-size: cover;
}

.landscape2 {
  background: url('../img/landscape2.jpg');
  background-size: cover;
}

.landscape3 {
  background: url('../img/landscape3.jpg');
  background-size: cover;
}

.boy {
  left: 35%;
  position: absolute;
  top: 5%;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    left: 40%;
    top: 20%;
    transform: scale(1.1);
  }
}

.fox {
  bottom: 10%;
  left: 30%;
  position: absolute;
  transition: all 1s ease;
  &:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
}

.boat {
  bottom: 16%;
  position: absolute;
  right: -5%;
  &:hover {
    animation: rock-boat 2s ease-in-out infinite;
    cursor: pointer;
  }
}

@keyframes rock-boat {
  50% {
    transform: translateX(-10px) rotate(5deg);
  }
}

@media screen and (max-width: 420px) {
  .landscape {
    height: 170px;
    width: 260px;
  }
}
