@media screen and (max-width: 1000px) {
  section {
    flex-wrap: wrap;
  }
}
.dogs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.dogs img {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  width: 300px;
}
.dogs img:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dog1:hover {
  transform: scale(1.3) translate(-40px);
}

.dog2:hover {
  transform: scale(1.3);
}

.dog3:hover {
  transform: scale(1.3) translate(40px);
}

@media screen and (max-width: 420px) {
  .dogs img {
    height: 170px;
    width: 260px;
  }

  .dog1:hover, .dog2:hover, .dog3:hover {
    transform: scale(1.1);
  }
}
.cats {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.cats img {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  width: 300px;
}
.cats img:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cat1:hover, .cat3:hover {
  transform: scale(1.3) rotate(10deg);
}

.cat2:hover {
  transform: scale(1.3) rotate(-10deg);
}

@media screen and (max-width: 420px) {
  .cats img {
    height: 170px;
    width: 260px;
  }

  .cat1:hover, .cat3:hover {
    transform: scale(1.1) rotate(5deg);
  }

  .cat2:hover {
    transform: scale(1.1) rotate(-5deg);
  }
}
.animals {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.animals img {
  height: 100%;
  transition: all 0.5s ease;
  vertical-align: middle;
  width: 100%;
}
.animals img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.wrapper {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

@media screen and (max-width: 420px) {
  .wrapper {
    height: 170px;
    width: 260px;
  }
}
.cities {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.cities img {
  height: 100%;
  transition: all 0.5s ease;
  vertical-align: middle;
  width: 100%;
}

.wrapper2 {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
.wrapper2::after {
  background-color: rgba(146, 173, 200, 0.6);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: visibility 0.5s, opacity 0.5s;
  visibility: hidden;
  width: 100%;
}
.wrapper2:hover::after, .wrapper2:focus::after {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.wrapper2:hover img, .wrapper2:focus img {
  transform: scale(1.2);
}
.wrapper2:hover span, .wrapper2:focus span {
  opacity: 1;
  visibility: visible;
}

span {
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  top: 40%;
  right: 22%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 1;
}

@media screen and (max-width: 420px) {
  .wrapper2 {
    height: 170px;
    width: 260px;
  }

  span {
    right: 16%;
  }
}
.landscapes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.landscape {
  border: 8px solid #4f6dc9;
  height: 200px;
  margin: 10px;
  position: relative;
  width: 300px;
}

.landscape1 {
  background: url("../img/landscape1.jpg");
  background-size: cover;
}

.landscape2 {
  background: url("../img/landscape2.jpg");
  background-size: cover;
}

.landscape3 {
  background: url("../img/landscape3.jpg");
  background-size: cover;
}

.boy {
  position: absolute;
  left: 35%;
  transition: all 0.5s ease;
  top: 5%;
}
.boy:hover {
  cursor: pointer;
  left: 40%;
  top: 20%;
  transform: scale(1.1);
}

.fox {
  position: absolute;
  left: 30%;
  bottom: 10%;
  transition: all 1s ease;
}
.fox:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.boat {
  bottom: 16%;
  position: absolute;
  right: -5%;
}
.boat:hover {
  cursor: pointer;
  animation: rock-boat 2s ease-in-out infinite;
}

@keyframes rock-boat {
  50% {
    transform: translateX(-10px) rotate(5deg);
  }
}
@media screen and (max-width: 420px) {
  .landscape {
    height: 170px;
    width: 260px;
  }
}

/*# sourceMappingURL=main.css.map */
